doctype html
html(lang='en')
  head
    title MYSQUAR - Connecting Myanmar
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href=assetPath('animate.min.css'), rel='stylesheet')
    link(href=assetPath('base-sidenav.css'), rel='stylesheet')
    link(href=assetPath('callhome.css'), rel='stylesheet')
  body
    a(href='/')
      img.logo.pointer.animated.fadeInLeft(src=assetPath('img/common/icon/Logo-Mysquar.png'), alt='logo')
    include ../components/sidenav
    .breadcrum-container.animated.fadeIn
      ul.breadcrumb
        li
          a(href='/')
            img.ic-home(src=assetPath('img/common/icon/ic-home-white.png'), alt='Home')
        li
          a(href='/products') OUR PRODUCTS
        li CALLHOME
    #callhome-bg.header.animated.fadeIn
      .content
        #callhome-hero.hero.animated.fadeInLeft.delay-hero
        .intro.animated.fadeInRight.delay-intro
          .logo-mychat.mg-bottom-8
            img(src=assetPath('img/common/detail/callhome/logo-callhome.png'), alt='logo-callhome', height='80px', width='80px')
          .name.mg-bottom-8
            | CallHome
          .description.mg-bottom-26
            | A VOIP app that lets you call anyone internationally at affordable rates, even if they don't have the app installed!
            br
            .notice
              | *Available for download in Cambodia, India, Indonesia, Laos, Malaysia, Pakistan, Philippines, Singapore, Thailand
              | and Vietnam.
          .app-link.mg-bottom-26
            button.google-play(onclick=" window.open('https://play.google.com/store/apps/details?id=com.squar.callhome.production','_blank')")
              img(src=assetPath('img/common/icon/btt-google.png'), alt='Get CallHome in Google Play')
          .follow
            | Follow us on
            a(href='https://www.facebook.com/CallHomeMySQUAR/', target='_blank')
              img(src=assetPath('img/common/icon/if-fb-white.png'), alt='CallHome FB page', width='24px', height='24px')
    .container
      section#overview.bg-grey.section-padding
        .content
          .half.is-animated-left.delay-overview
            .text
              .wrapper.maxwidth-overview
                .title
                  | call anyone, anytime!
                .body
                  | An app that lets you stay in touch with friends and family in 190+ countries at affordable rates. Start by downloading our
                  | app and get updated with what your friends and family are doing right now.
                  br
                  br
                  |  With affordable calling rates to a landline or mobile phone, CallHome helps you keep close ties
                  |                 with your important connections abroad across 190+ countries. Now distance makes no difference.
                  br
                  br
                  |  Who's waiting to hear from you? Don't let them wait - Call them right away!
          .half.is-animated-right.delay-overview
            .mockup
              img(src=assetPath('img/common/detail/callhome/mockup-update.png'), alt='callhome-overview')
      section#feature.section-padding
        #special-content-reverse.content
          .half.is-animated-left
            .mockup
              img(src=assetPath('img/common/detail/callhome/mockup-feature.png'), alt='callhome-overview')
          .half.is-animated-right
            .text
              .wrapper.maxwidth-feature
                .title
                  | key features.
                .body
                  span Affordable rates
                  br
                  |  Buy discounted bundles to specific countries or pay as you go.
                  br
                  br
                  span Less dropped calls
                  br
                  |  The app has been optimized for crystal clear audio quality using 3G,
                  |                 4G or WiFi.
                  br
                  br
                  span Easy payment options
                  br
                  |  Seamless payment using Stripe and PayPal.
                  br
                  br
    include ../components/footer
    script.
      var isGame = true;
    script(src=assetPath('jquery.min.js'))
    script(src=assetPath('jquery.viewportchecker.min.js'))
    script(src=assetPath('base-sidenav.js'))
    script(src=assetPath('animation.js'))

