doctype html
html(lang='en')
  head
    title MYSQUAR - Connecting Myanmar
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href=assetPath('animate.min.css'), rel='stylesheet')
    link(href=assetPath('base-sidenav.css'), rel='stylesheet')
    link(href=assetPath('lom.css'), rel='stylesheet')
  body
    a(href='/')
      img.logo.pointer.animated.fadeInLeft(src=assetPath('img/common/icon/Logo-Mysquar.png'), alt='logo')
    include ../components/sidenav
    .breadcrum-container.animated.fadeIn
      ul.breadcrumb
        li
          a(href='/')
            img.ic-home(src=assetPath('img/common/icon/ic-home-white.png'), alt='Home')
        li
          a(href='/products') OUR PRODUCTS
        li LAND OF MAGIC
    .header.animated.fadeIn
      .content
        .hero.animated.fadeInLeft.delay-hero
        .intro.animated.fadeInRight.delay-intro
          .logo-lom.mg-bottom-8
            img(src=assetPath('img/common/detail/lom/Logo.png'), alt='logo-landofmagic')
          .name.mg-bottom-8
            | Land of Magic
          .description.mg-bottom-26
            | This is the first MMORPG in Myanmar. Join thousands of online gamers to embark on a new adventure! Come see what the excitement
            | is all about!
          .app-link.mg-bottom-26
            button.apk(onclick="window.open('http://tracking.squargame.com/download.php?game=landOfMagic&utm_source=LD_APK','_blank')")
              img(src=assetPath('img/common/icon/ic-download.png'), alt='Download APK')
              |  APK Download
            button.google-play(onclick=" window.open('https://play.google.com/store/apps/details?id=com.mygame.landofmagic&referrer=utm_source%3DLP','_blank')")
              img(src=assetPath('img/common/icon/btt-google.png'), alt='Get Land of Magic in Google Play')
          .follow
            | Follow us on
            a(href='https://www.facebook.com/landofmagicmm/', target='_blank')
              img(src=assetPath('img/common/icon/if-fb-white.png'), alt='MyCHAT FB page', width='24px', height='24px')
            span
              | Website:
              a(href='http://landofmagicmm.com', target='_blank') landofmagicmm.com
    .container
      #overview.content.bg-dark.reverse
        .text.is-animated-left
          .wrapper
            .title
              | overview.
            .body
              | Land of Magic is not just a mobile game. It will transport you into an ominous world where humans and monsters coexist secretly
              | in the Land of Magic. Monsters lurk everywhere and danger can be found around every corner. People have formed
              | alliances to defend themselves against mighty beasts and monsters. Warriors are a force to be reckoned with,
              | magicians control fire and taoists control monsters. Unite together to fight against the minotaur and recapture
              | the Land of Magic
        .mockup.pd-left-52.is-animated-right
          img(src=assetPath('img/common/detail/lom/Mockup-overview.png'), alt='lom-overview')
      // end of overview
      #feature.content.pd-bottom-32.bg-dark
        .mockup.pd-right-52.justify-end.is-animated-left
          img(src=assetPath('img/common/detail/lom/Mockup-features.png'), alt='lom-overview')
        .text-start.is-animated-right
          .wrapper
            .title
              | key features.
            .body
              ul
                li Localised for Myanmar.
                li Innovative and realistic 3D graphic design.
                li Three classes to choose from: Taoist, Magician and Warrior.
                li Abundant skill sets: each class has nine unique, majestic skills.
                li Unlimited PK (player killing) battle world: battle against intimidating Bosses.
                li Challenge any other player in the PvP (player versus player) PK Arena.
                li Create a clan/guild, fight together and win together.
                li Upgrade and expand your weaponry to make yourself unstoppable.
                li Optimized to run smoothly on any mobile device.
      // end of feature
    // end of container
    include ../components/footer
    script.
      var isGame = true;
    script(src=assetPath('jquery.min.js'))
    script(src=assetPath('jquery.viewportchecker.min.js'))
    script(src=assetPath('base-sidenav.js'))
    script(src=assetPath('lom.js'))
