doctype html
html(lang='en')
  head
    title MYSQUAR - Connecting Myanmar
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='img/common/icon/favicon.ico')
    link(href=assetPath('animate.min.css'), rel='stylesheet')
    link(href=assetPath('base-sidenav.css'), rel='stylesheet')
    link(href=assetPath('lom.css'), rel='stylesheet')
    link(href=assetPath('luckywingabar.css'), rel='stylesheet')
  body
    a(href='/')
      img.logo.pointer.animated.fadeInLeft(src=assetPath('img/common/icon/Logo-Mysquar.png'), alt='logo')
    span#hamburger.pointer.animated.fadeInRight(onclick='openNav()')
      img#ic-hamburger(src=assetPath('img/common/icon/ic-menu.png'), alt='sidenav')
    #mySidenav.sidenav
      img.closebtn.pointer(src=assetPath('img/common/icon/ic-close.png'), alt='Close', onclick='closeNav()')
      .page-link
        a(href='/products')
          span Our Products
        a(href='https://careers.mysquar.com/', target='_blank')
          span We Are Hiring
        a(href='http://investors.mysquar.com/', target='_blank')
          span For Investors
        a(href='/contactus ')
          span Contact Us
      footer
        .social-link
          a(href='https://twitter.com/mysquar', target='_blank')
            img(src=assetPath('img/common/icon/ic-twitter.png'), alt='twitter')
          a(href='https://www.linkedin.com/company/squar-asia', target='_blank')
            img(src=assetPath('img/common/icon/ic-linkedin.png'), alt='linked')
          a(href='https://www.youtube.com/channel/UChv63ZLGBBQERh2Kz4T84Iw', target='_blank')
            img(src=assetPath('img/common/icon/ic-youtube.png'), alt='youtube')
        span © 2017 SQUAR PTE LTD. All Rights Reserved
    .breadcrum-container.animated.fadeIn
      ul.breadcrumb
        li
          a(href='/')
            img.ic-home(src=assetPath('img/common/icon/ic-home-white.png'), alt='Home')
        li
          a(href='/products') OUR PRODUCTS
        li LUCKY WINGABAR
    #luckywingabar-bg.header.animated.fadeIn
      .content
        #luckywingabar-hero.hero.animated.fadeInLeft.delay-hero
        .intro.animated.fadeInRight.delay-intro
          .logo-lom.mg-bottom-8
            img(src=assetPath('img/common/detail/luckywingabar/logo.png'), alt='logo-luckywingabar')
          .name.mg-bottom-8
            | Lucky Wingabar
          #luckywingabar-maxwidth.description.mg-bottom-26
            | The perfect luxury casino gaming experience with a selection of card and table games is right here at your fingertips.
          .app-link.mg-bottom-26
            button.apk(onclick="window.open('http://tracking.squargame.com/download.php?game=luckyWingabar&utm_source=LD_APK','_blank')")
              img(src=assetPath('img/common/icon/ic-download.png'), alt='Download APK')
              |  APK Download
            button.google-play(onclick=" window.open('https://play.google.com/store/apps/details?id=com.mygame.luckywingabar&referrer=utm_source%3DLD_GP','_blank')")
              img(src=assetPath('img/common/icon/btt-google.png'), alt='Get LuckyWingabar in Google Play')
            button.app-store(onclick=" window.open('https://itunes.apple.com/us/app/lucky-wingabar/id1206674285?ls=1&mt=8','_blank')")
              img(src=assetPath('img/common/icon/btt-appstore.png'), alt='Get LuckyWingabar in App Store')
          .follow
            | Follow us on
            a(href='https://www.facebook.com/luckywingabarmm/', target='_blank')
              img(src=assetPath('img/common/icon/if-fb-white.png'), alt='Lucky Wingabar FB page', width='24px', height='24px')
            span
              | Website:
              a(href='http://luckywingabar.com', target='_blank') luckywingabar.com
    .container
      #overview.content.bg-dark.reverse
        .text.is-animated-left
          .wrapper
            .title
              | overview.
            .body
              | The thrill and excitement of a life-like casino and table games! Lucky Wingabar combines state of the art 2D graphics and
              | a simple user interface for a sensational interactive experience. Choose from a variety of casino mini-games.
        .mockup.pd-left-52.is-animated-right
          img(src=assetPath('img/common/detail/luckywingabar/mockup-overview.png'), alt='luckywingabar-overview')
      // end of overview
      #feature.content.pd-bottom-32.bg-dark
        .special-content
          .half.left
            .text-white
              .mockup
                img#mockup-feature(src=assetPath('img/common/detail/luckywingabar/mockup-features.png'), alt='luckywingabar-feature')
              .wrapper.show-this
                .title.mg-bottom-22
                  | key features.
                div
                  ul
                    li Lucky Shan
                    p Shan Koe Mee is a traditional Myanmar card game.
                    li Show
                    p A poker game based on Five Card Draw done Myanmar style.
                    li Takhunsite Tournament
                    p This is a Sit & Go (SNG) single-table Show tournament with 5 players.
                    li Lucky Spin Wheel
                    p Spin a wheel for fun to get a reward. Everyone's a winner!
                    li Jackpot
                    p
                      | There is a tournament held twice a day in the Gold rooms of Lucky Shan and Show with a progressive Pot
                      | of Gold.
                    li Nanbat Wingabar
                    p
                      | A lottery game with 3 game variants with drawings held instantly, every 60 seconds or daily at 17:30.
              ul
                li Big - Small
                p
                  | Choose a side- Big or Small, then place your bets and win a reward if you choose the right side.
                li Lucky 21
                p This is classic blackjack done Myanmar style.
          .half.right.hide-this
            .wrapper
              .title.mg-bottom-22
                | key features.
              div
                ul
                  li Lucky Shan
                  p Shan Koe Mee is a traditional Myanmar card game.
                  li Show
                  p A poker game based on Five Card Draw done Myanmar style.
                  li Takhunsite Tournament
                  p This is a Sit & Go (SNG) single-table Show tournament with 5 players.
                  li Lucky Spin Wheel
                  p Spin a wheel for fun to get a reward. Everyone's a winner!
                  li Jackpot
                  p
                    | There is a tournament held twice a day in the Gold rooms of Lucky Shan and Show with a progressive Pot of
                    | Gold.
                  li Nanbat Wingabar
                  p
                    | A lottery game with 3 game variants with drawings held instantly, every 60 seconds or daily at 17:30.
      // end of feature
    // end of container
    footer.product-footer.animated.fadeIn.delay-foot
      span © 2017 SQUAR PTE LTD. All Rights Reserved.
    script.
      var isGame = true;
    script(src=assetPath('jquery.min.js'))
    script(src=assetPath('jquery.viewportchecker.min.js'))
    script(src=assetPath('base-sidenav.js'))
    script(src=assetPath('lom.js'))
