doctype html
html(lang='en')
  head
    title MYSQUAR - Connecting Myanmar
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href=assetPath('animate.min.css'), rel='stylesheet')
    link(href=assetPath('base-sidenav.css'), rel='stylesheet')
    link(href=assetPath('callhome.css'), rel='stylesheet')
    link(href=assetPath('mm.css'), rel='stylesheet')
  body
    a(href='/')
      img.logo.pointer.animated.fadeInLeft(src=assetPath('img/common/icon/Logo-Mysquar.png'), alt='logo')
    include ../components/sidenav
    .breadcrum-container.animated.fadeIn
      ul.breadcrumb
        li
          a(href='/')
            img.ic-home(src=assetPath('img/common/icon/ic-home-white.png'), alt='Home')
        li
          a(href='/products') OUR PRODUCTS
        li MINGALARBAR MORNING
    #mm-bg.header.animated.fadeIn
      .content
        #mm-hero.hero.animated.fadeInLeft.delay-hero
        #mm-intro.intro.animated.fadeInRight.delay-intro
          .logo-mychat.mg-bottom-8
            img(src=assetPath('img/common/detail/mingalarbarmorning/logo.png'), alt='logo-mm', width='260px')
          .description.mg-bottom-26
            | A customised news aggregator website. Search and discover among a large selection of curated news and special interest topics.
          .app-link.mg-bottom-26
            button.apk(onclick="window.open('http://mingalarbarmorning.com/','_blank')")
              | GO TO WEBSITE
          .follow
            | Follow us on
            a(href='https://www.facebook.com/MingalarbarMorning/', target='_blank')
              img(src=assetPath('img/common/icon/if-fb-white.png'), alt='MM FB page', width='24px', height='24px')
    .container
      section#overview.bg-grey.section-padding
        .content
          .half.is-animated-left.delay-overview
            .text
              .wrapper.maxwidth-overview
                .title
                  | get the latest headlines.
                .body
                  | A mobile-friendly news aggregator delivering reliable breaking news and top stories in Myanmar and around the world from
                  | quality sources in Burmese.
          .half.is-animated-right.delay-overview
            .mockup
              img(src=assetPath('img/common/detail/mingalarbarmorning/mockup-overview.png'), alt='mm-overview')
      section#feature.section-padding
        #special-content-reverse.content
          .half.is-animated-left
            .mockup
              img(src=assetPath('img/common/detail/mingalarbarmorning/mockup-features.png'), alt='mm-feature')
          .half.is-animated-right
            .text
              .wrapper.maxwidth-feature
                .title
                  | key features.
                .body.mm-maxwidth-feature
                  span Read it here first
                  br
                  |  See what's trending now from politics to technology to the latest
                  |                 fashion.
                  br
                  br
                  span Need a good laugh?
                  br
                  |  Take a break from your day and see the best funny, weird or odd news
                  |                 stories, videos and photos.
                  br
                  br
                  span Game on!
                  br
                  | Play some of the world’s most popular single-player games for free.
                  br
                  br
    include ../components/footer
    script.
      var isGame = true;
    script(src=assetPath('jquery.min.js'))
    script(src=assetPath('jquery.viewportchecker.min.js'))
    script(src=assetPath('base-sidenav.js'))
    script(src=assetPath('animation.js'))
