doctype html
html(lang='en')
  head
    title MYSQUAR - Connecting Myanmar
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href=assetPath('animate.min.css'), rel='stylesheet')
    link(href=assetPath('base-sidenav.css'), rel='stylesheet')
    link(href=assetPath('lom.css'), rel='stylesheet')
    link(href=assetPath('myhero.css'), rel='stylesheet')
  body
    a(href='/')
      img.logo.pointer.animated.fadeInLeft(src=assetPath('img/common/icon/Logo-Mysquar.png'), alt='logo')
    include ../components/sidenav
    .breadcrum-container.animated.fadeIn
      ul.breadcrumb
        li
          a(href='/')
            img.ic-home(src=assetPath('img/common/icon/ic-home-white.png'), alt='Home')
        li
          a(href='/products') OUR PRODUCTS
        li MY HERO
    #myhero-bg.header.animated.fadeIn
      .content
        #myhero-hero.hero.animated.fadeInLeft.delay-hero
        .intro.animated.fadeInRight.delay-intro
          .logo-lom.mg-bottom-8
            img(src=assetPath('img/common/detail/myhero/logo.png'), alt='logo-myhero')
          .name.mg-bottom-8
            | My Hero - Bo Lattae
          .description.mg-bottom-26
            | One of the very first RPS games in Myanmar featuring a variety of well known Heroes within an adventurous fantasy world.
          .app-link.mg-bottom-26
            button.apk(onclick="window.open('http://tracking.squargame.com/download.php?game=myHero&utm_source=LD_APK','_blank')")
              img(src=assetPath('img/common/icon/ic-download.png'), alt='Download APK')
              |  APK Download
            button.google-play(onclick=" window.open('https://play.google.com/store/apps/details?id=com.mygame.myhero&referrer=utm_source%3DLD_GP','_blank')")
              img(src=assetPath('img/common/icon/btt-google.png'), alt='Get MyHero in Google Play')
            button.app-store(onclick=" window.open('https://itunes.apple.com/us/app/myhero-bo-lattae/id1240309813?ls=1&mt=8','_blank')")
              img(src=assetPath('img/common/icon/btt-appstore.png'), alt='Get MyHero in App Store')
          .follow
            | Follow us on
            a(href='https://www.facebook.com/MyheroBoLattae/', target='_blank')
              img(src=assetPath('img/common/icon/if-fb-white.png'), alt='MyHero FB page', width='24px', height='24px')
            span
              | Website:
              a(href='http://myheromm.com/', target='_blank') myheromm.com
    .container
      #overview.content.bg-dark.reverse
        .text.is-animated-left
          .wrapper
            .title
              | overview.
            .body
              | The game offers an adventurous fantasy world, complex fighting combinations and massive explosions, topped off with ultimate
              | retaliation skills and epic animations. Join thousands of players in this exciting adventure. It’s easy to play!
              | You won't stop shooting!
        .mockup.pd-left-52.is-animated-right
          img(src=assetPath('img/common/detail/myhero/mockup-overview.png'), alt='myhero-overview')
      // end of overview
      #feature.content.pd-bottom-32.bg-dark
        .mockup.pd-right-52.justify-end.is-animated-left
          img(src=assetPath('img/common/detail/myhero/mockup-features.png'), alt='myhero-overview')
        .text-start.is-animated-right
          .wrapper
            .title
              | key features.
            .body
              ul
                li Transform into over 100 of your favourite heroes.
                li Beautiful chibi graphics, live dubbing.
                li Four categories of skilled characters.
                li A unique combination between a RPG (role-playing game) and third-person shooter.
                li Invite your friends to play - fight against Bosses or fight against each other.
                li Real PvP (player versus player) battles.
                li Summon friends to assist you in battle.
                li Create a clan/guild and invite other players to join.
                li Hundreds of weapons and armour sets for your heroes.
                li Unique system ranking challenges.
                li Choose from numerous skilled pets for additional protection.
      // end of feature
    // end of container
    include ../components/footer
    script.
      var isGame = true;
    script(src=assetPath('jquery.min.js'))
    script(src=assetPath('jquery.viewportchecker.min.js'))
    script(src=assetPath('base-sidenav.js'))
    script(src=assetPath('lom.js'))
