doctype html
html(lang='en')
  head
    title MYSQUAR - Connecting Myanmar
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='/img/common/icon/favicon.ico')
    link(href=assetPath('animate.min.css'), rel='stylesheet')
    link(href=assetPath('products-style.css'), rel='stylesheet')
  body
    span#hamburger.pointer.animated.fadeInRight(onclick='openNav()')
      img#ic-hamburger(src=assetPath('img/common/icon/ic-menu.png'), alt='sidenav')
    .breadcrum-container.animated.fadeIn
      ul.breadcrumb
        li
          a(href='/')
            img.ic-home(src=assetPath('img/common/icon/ic-home-white.png'), alt='Home')
        li CONTACT US
    #mySidenav.sidenav
      img.closebtn.pointer(src=assetPath('img/common/icon/ic-close.png'), alt='Close', onclick='closeNav()')
      .page-link
        a.active(href='/products', onclick='return false')
          span Our Products
        a(href='https://careers.mysquar.com/', target='_blank')
          span We Are Hiring
        a(href='http://investors.mysquar.com/', target='_blank')
          span For Investors
        a(href='/contactus ')
          span Contact Us
      footer
        .social-link
          a(href='https://twitter.com/mysquar', target='_blank')
            img(src=assetPath('img/common/icon/ic-twitter.png'), alt='twitter')
          a(href='https://www.linkedin.com/company/squar-asia', target='_blank')
            img(src=assetPath('img/common/icon/ic-linkedin.png'), alt='linked')
          a(href='https://www.youtube.com/channel/UChv63ZLGBBQERh2Kz4T84Iw', target='_blank')
            img(src=assetPath('img/common/icon/ic-youtube.png'), alt='youtube')
        span © 2017 SQUAR PTE LTD. All Rights Reserved
    .breadcrum-container.animated.fadeIn
      ul.breadcrumb
        li
          a(href='/')
            img.ic-home(src=assetPath('img/common/icon/ic-home-white.png'), alt='Home')
        li OUR PRODUCTS
    .header.animated.fadeIn
      a(href='/')
        img.logo.pointer.animated.fadeInLeft(src=assetPath('img/common/icon/Logo-Mysquar.png'), alt='logo')
      .text
        span.title our products.
        span.body We make something you love
    #nav.tabs.animated.fadeIn.delay-nav
      .tab-button
        div
          button#defaultOpen.tablinks(data-filter='all', onclick="openCity(event, 'all')") ALL
        div
          button.tablinks(data-filter='1', onclick="openCity(event, 'games')") GAMES
        div
          button.tablinks(data-filter='2', onclick="openCity(event, 'apps')") APPS
    .container.animated.fadeIn.delay-container
      .scroll-indicator
        img#scroll-down.pointer(src=assetPath('img/common/icon/ic-animated-scroll-up.gif'), alt='ic-scroll-down', onclick='topFunction()')
        span#text-scroll-down.pointer(onclick='topFunction()') Back to Top
      #all.content.tabcontent
        .row.is-animated
          .card
            .cover
              a(href='/products/mychat')
                img(src=assetPath('img/common/games-apps/MyChat.jpg'), alt='MyChat')
            .app
              .name
                a(href='/products/mychat') MyChat
              .description
                | A chat app built solely for Myanmar. MyChat brings you a fast and reliable chat experience that is smooth even
                | on low end devices and flaky cellular networks.
              .version
                img(src=assetPath('img/common/icon/ic-update.png'), alt='latest')
                |  V2.5 Released in August 2017
          .card
            .cover
              a(href='/products/callhome')
                img(src=assetPath('img/common/games-apps/CallHome.jpg'), alt='Callhome')
            .app
              .name
                a(href='/products/callhome') CallHome
              .description
                | A VOIP app that lets you call anyone internationally at affordable rates, even if they don't have the app installed!
              .version
                img(src=assetPath('img/common/icon/ic-update.png'), alt='latest')
                |  V1.3 Released in July 2017
          .card
            .cover
              a(href='/products/fastsell')
                img(src=assetPath('img/common/games-apps/FastSell.jpg'), alt='MyChat')
            .app
              .name
                a(href='/products/fastsell') FastSell
              .description A peer-to-peer marketplace, allowing people to trade with other people nearby.
              .version
                img(src=assetPath('img/common/icon/ic-update.png'), alt='latest')
                |  V2.6 Released in July 2017
          .card
            .cover
              a(href='/products/mingalarbarmorning')
                img(src=assetPath('img/common/games-apps/MM.jpg'), alt='MyChat')
            .app
              .name
                a(href='/products/mingalarbarmorning') Mingalarbar Morning
              .description
                | A news aggregator delivering the latest breaking news and top stories in Myanmar and around the world.
              .version
                img(src=assetPath('img/common/icon/ic-update.png'), alt='latest')
                |  Released in July 2017
          .card
            .cover
              a(href='/products/landofmagic')
                img(src=assetPath('img/common/games-apps/LOM.png'), alt='MyChat')
            .app
              .name
                a(href='/products/landofmagic') Land of Magic
              .description
                | The first MMORPG in Myanmar with three classes of characters to choose from and nine unique skills to engage
                | in PvP battles.
              .version
                img(src=assetPath('img/common/icon/ic-update.png'), alt='latest')
                |  Released in August 2017
          .card
            .cover
              a(href='/products/myhero')
                img(src=assetPath('img/common/games-apps/MyHero.jpg'), alt='MyChat')
            .app
              .name
                a(href='/products/myhero') My Hero - Bo Lattae
              .description
                | One of the very first RPS games in Myanmar featuring a variety of well known Heroes within an adventurous fantasy
                | world.
              .version
                img(src=assetPath('img/common/icon/ic-update.png'), alt='latest')
                |  Released in May 2017
          .card
            .cover
              a(href='/products/luckywingabar')
                img(src=assetPath('img/common/games-apps/LuckyWingabar.jpg'), alt='MyChat')
            .app
              .name
                a(href='/products/luckywingabar') Lucky Wingabar
              .description
                | A luxury casino gaming experience where you can enjoy a variety of games such as: shan koe mee, poker show, blackjack
                | and join weekly tournaments.
              .version
                img(src=assetPath('img/common/icon/ic-update.png'), alt='latest')
                |  Released in March 2017
          .card
            .cover
              a(href='/products/hawkhero')
                img(src=assetPath('img/common/games-apps/HawkHero.jpg'), alt='MyChat')
            .app
              .name
                a(href='/products/hawkhero') Hawk Hero
              .description.letter-negative
                | The first epic Wuxia martial arts game available on mobile in Myanmar, bringing a truly immersive RPG experience
                | to your phone.
              .version
                img(src=assetPath('img/common/icon/ic-update.png'), alt='latest')
                |  Released in September 2016
          .card
            .cover
              a(href='/products/myfish')
                img(src=assetPath('img/common/games-apps/MyFish.jpg'), alt='MyChat')
            .app
              .name
                a(href='/products/myfish') MyFish
              .description
                | One of the very first mobile games in Myanmar. Catch as many fish and sea animals as you can! Win real rewards!
              .version
                img(src=assetPath('img/common/icon/ic-update.png'), alt='latest')
                |  Released in August 2016
      // end of all page
      #games.content.tabcontent
        .row.is-animated
          .card
            .cover
              a(href='/products/landofmagic')
                img(src=assetPath('img/common/games-apps/LOM.png'), alt='MyChat')
            .app
              .name
                a(href='/products/landofmagic') Land of Magic
              .description
                | The first MMORPG in Myanmar with three classes of characters to choose from and nine unique skills to engage
                | in PvP battles.
              .version
                img(src=assetPath('img/common/icon/ic-update.png'), alt='latest')
                |  Released in August 2017
          .card
            .cover
              a(href='/products/myhero')
                img(src=assetPath('img/common/games-apps/MyHero.jpg'), alt='MyChat')
            .app
              .name
                a(href='/products/myhero') My Hero - Bo Lattae
              .description
                | One of the very first RPS games in Myanmar featuring a variety of well known Heroes within an adventurous fantasy
                | world.
              .version
                img(src=assetPath('img/common/icon/ic-update.png'), alt='latest')
                |  Released in May 2017
          .card
            .cover
              a(href='/products/luckywingabar')
                img(src=assetPath('img/common/games-apps/LuckyWingabar.jpg'), alt='MyChat')
            .app
              .name
                a(href='/products/luckywingabar') Lucky Wingabar
              .description
                | A luxury casino gaming experience where you can enjoy a variety of games such as: shan koe mee, poker show, blackjack
                | and join weekly tournaments.
              .version
                img(src=assetPath('img/common/icon/ic-update.png'), alt='latest')
                |  Released in March 2017
          .card
            .cover
              a(href='/products/hawkhero')
                img(src=assetPath('img/common/games-apps/HawkHero.jpg'), alt='MyChat')
            .app
              .name
                a(href='/products/hawkhero') Hawk Hero
              .description.letter-negative
                | The first epic Wuxia martial arts game available on mobile in Myanmar, bringing a truly immersive RPG experience
                | to your phone.
              .version
                img(src=assetPath('img/common/icon/ic-update.png'), alt='latest')
                |  Released in September 2016
          .card
            .cover
              a(href='/products/myfish')
                img(src=assetPath('img/common/games-apps/MyFish.jpg'), alt='MyChat')
            .app
              .name
                a(href='/products/myfish') MyFish
              .description
                | One of the very first mobile games in Myanmar. Catch as many fish and sea animals as you can! Win real rewards!
              .version
                img(src=assetPath('img/common/icon/ic-update.png'), alt='latest')
                |  Released in August 2016
      // end of games page
      #apps.content.tabcontent
        .row.is-animated
          .card
            .cover
              a(href='/products/mychat')
                img(src=assetPath('img/common/games-apps/MyChat.jpg'), alt='MyChat')
            .app
              .name
                a(href='/products/mychat') MyChat
              .description
                | A chat app built solely for Myanmar. MyChat brings you a fast and reliable chat experience that is smooth even
                | on low end devices and flaky cellular networks.
              .version
                img(src=assetPath('img/common/icon/ic-update.png'), alt='latest')
                |  V2.5 Released in August 2017
          .card
            .cover
              a(href='/products/callhome')
                img(src=assetPath('img/common/games-apps/CallHome.jpg'), alt='Callhome')
            .app
              .name
                a(href='/products/callhome') CallHome
              .description
                | A VOIP app that lets you call anyone internationally at affordable rates, even if they don't have the app installed!
              .version
                img(src=assetPath('img/common/icon/ic-update.png'), alt='latest')
                |  V1.3 Released in July 2017
          .card
            .cover
              a(href='/products/fastsell')
                img(src=assetPath('img/common/games-apps/FastSell.jpg'), alt='MyChat')
            .app
              .name
                a(href='/products/fastsell') FastSell
              .description A peer-to-peer marketplace, allowing people to trade with other people nearby.
              .version
                img(src=assetPath('img/common/icon/ic-update.png'), alt='latest')
                |  V2.6 Released in July 2017
          .card
            .cover
              a(href='/products/mingalarbarmorning')
                img(src=assetPath('img/common/games-apps/MM.jpg'), alt='MyChat')
            .app
              .name
                a(href='/products/mingalarbarmorning') Mingalarbar Morning
              .description
                | A news aggregator delivering the latest breaking news and top stories in Myanmar and around the world.
              .version
                img(src=assetPath('img/common/icon/ic-update.png'), alt='latest')
                |  Released in July 2017
      // end of apps page
    .scroll-small
      .holder
        img(src=assetPath('img/common/icon/bk_top_blk.gif'), alt='ic-back-to-top', onclick='topFunction()')
        div(onclick='topFunction()') Back to top
    include ../components/footer
    script(src=assetPath('jquery.min.js'))
    script(src=assetPath('products-index.js'))

